@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@font-face {
   font-family: "TT Commons";
   src: url("../fonts/TTCommons-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "TT Commons";
   src: url("../fonts/TTCommons-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "TT Commons";
   src: url("../fonts/TTCommons-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.page1 {
   font-family: "TT Commons";
   font-size: 18px;
   background-color: rgba(250, 235, 215, 0.746);
   padding-top: 30px;
   padding-left: 50px;
   padding-right: 30px;
   padding-bottom: 100px;
}
.page1 h1 {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
   font-size: 30px;
   text-transform: uppercase;
   color: rgba(37, 6, 6, 0.794);
}

.page1 h2 {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-transform: uppercase;
   color: rgba(37, 6, 6, 0.794);
   margin-bottom: 10px;
}

.page1 .title ~ p {
   background-color: lightslategrey;
   font-weight: 500;
   font-size: 20px;
   text-align: justify;
   line-height: 1.2;
   padding-right: 100px;
}
.page1 .title + p {
   box-sizing: border-box;
   width: 50%;
   background-color: dimgray;
   font-size: 25px;
   padding: 0 50px 0px 200px;
   margin-top: 20px;
}
img {
   max-width: 100%;
}
.page1 {
   width: 80%;
   margin: 0px auto;
}

.uncutfilms {
   background-color: azure;
   margin-top: 30px;
   text-align: justify;
}

.da5films {
   background-color: coral;
   min-height: 500px;
   margin-top: 30px;
   padding: 20px;
}
/* margin для выравнивания */

.silencefilm-left {
   background-color: cornflowerblue;
   max-width: 50%;
   padding: 20px 30px 50px;
   height: 50%;
   margin: auto 0 0 0;
}
.silencefilm-centre {
   background-color: cornflowerblue;
   max-width: 50%;
   padding: 20px 30px 50px;
   height: 50%;
   margin: 0px auto;
}
.silencefilm-right {
   background-color: cornflowerblue;
   max-width: 50%;
   padding: 20px 30px 50px;
   height: 50%;
   margin: 0 0 0 auto;
}
/* управление содержимым */

.twisterfilm1 {
   overflow: hidden;
   background-color: rgb(223, 217, 58);
   width: 50%;
   max-height: 200px;
   margin: -50px 10px 10px 10px;
}
.twisterfilm2 {
   overflow: scroll;
   background-color: rgb(223, 217, 58);
   width: 50%;
   max-height: 200px;
}
.twisterfilm3 {
   overflow: auto;
   background-color: rgb(112, 109, 19);

   max-height: 200px;
}
.hybrid {
   width: 50%;
   margin: 0 0 0 auto;
}
.inline-span {
   background-color: mediumturquoise;
   display: inline-block;
   padding: 20px;
   margin-top: 20px;
}

.linkpage2 {
   background-color: darkorange;
   text-align: center;
   font-size: 30px;
   color: red;
   font-weight: 900;
   margin: 50px;
}

.page2 {
   width: 810px;
   margin: 0px auto;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   text-align: left;
   line-height: 1.6;
   color: #424551;
}
.title2 {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1e212c;
   margin-bottom: 92px;
}
.screen {
   margin-bottom: 36px;
}
.page2 p {
   margin: 24px 0 24px 0;
}
.page2 li {
   margin: 0 0 4px 0;
   padding-left: 40px;
}
.bigtext {
   font-size: 20px;
   font-weight: 700;
   line-height: 1.5;
   color: #1e212c;
   margin-bottom: 24px;
}
.paddingtext {
   padding: 24px 0 24px 58px;
}
